
@font-face {
    font-family: 'Brushstrike'; 
	src: url(/assets/fonts/Brushstrike.ttf); 
}



a{
    text-decoration: none;
}

@keyframes slide-left {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-right {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-bottom {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-left{
    animation: slide-left .7s ease-out;
}

.animate-right{
    animation: slide-right .7s ease-out;
}

:root{
    --main-font: 'Anton', sans-serif;
    --secondary-font: 'Bebas Neue', serif;
    --text-shadow: 20px 15px 5px rgba(0, 0, 0, 0.40);
    --text-shadow-small: 10px 10px 5px rgba(0, 0, 0, 0.40);
    --text-shadow-mobile: 10px 5px 5px rgba(0, 0, 0, 0.40);
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
   
   /* background: linear-gradient(#15191E 0%, #838383 100%);*/
    background-color: #15191E;
    background: url(/assets/images/bg_11zon.webp);
    background-size:cover;
    font-family: var(--main-font); 
	color: white
}
.mask{
    background: url(/assets/images/pattern-bg.webp);
}

.wrapper{
    max-width: 1120px;
    margin: 0 auto;
}
@media (max-width: 860px) {
    .wrapper{
        padding: 0 1.5em;
    }
}


.header__inner{
    max-width: 1300px;
    height: 90px;
    margin: 0 auto;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo{
    
    width: 130px;
    height: 170px;
    
    
}


.appointment-btn{
    position: relative;
    transform: translateY(-3em);
    z-index: 4000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 2.5em;
    cursor: pointer;
    
    
    margin-left: auto;

    transition: all .3s;
    background: none;
    text-decoration: none;
    color:  white;
    
    
    border: 3px solid white;
    border-radius: 15px;
    
    font-family: var(--secondary-font);
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}
@media (max-width: 860px){
    .appointment-btn{
        font-size: 1.5em;
        margin: 0 auto;
        margin-top: 2em;
        width: 10em;
        height: 2.5em;

        transform: none;
    }
}

.appointment-btn:hover{
    transition: all .3s;
    background-color: white;
    color: black;
}

.insta-logo{
    width: 130px;
    text-align: center;
}
.insta-logo__img{
    width: 50px;
    height: 50px;
}
@media (max-width: 860px){
    .header__inner{
        height: auto;
        margin-top: -5em;
        position: absolute;
        width: 100%;
        z-index: 10000;
        padding: 10px 0;
        background-color: rgba(46, 46, 46, 0.4);
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%); 
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 57%, rgba(0, 0, 0, 0) 100%);
    }
    .insta-logo{
        width: 100px;
    }
    .insta-logo__img{
        height: 2.7em;
        margin: 0;
    }
    .logo{
        width: 13em;
        height: 17em;
        margin-left: -1em;
        margin-top: 1.0em;
    }
}

/*------------intro ------------------*/

.intro{
    
    

}

.intro__inner{
    display: flex;
    justify-content: space-between;
}

.intro__img{
    background-image: url(/assets/images/hero1.webp);
    width: 50%;
    height: 816px;

    animation: slide-right .7s ease-out;

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%); 
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 57%, rgba(0, 0, 0, 0) 100%);
    
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%); 
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 59.2%, rgba(0, 0, 0, 0) 158%);
}


.intro__text{
    width: 50%;
    z-index: 3000;
    display: flex; 
    flex-direction: column;
    align-items: center;

}

.intro__title{    
    margin-top: 100px;
    width: 685px;
    
    font-size: 175px;
    text-align: center;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    letter-spacing: -4px;

    animation: slide-left .7s ease-out;
}


.intro__subtitle{
    margin-left: auto;
    margin-top: 55px;
    
    font-family: var(--secondary-font);
    font-size: 64px;
    
    text-shadow: var(--text-shadow-small);
    animation: slide-left .9s ease-out;
}
@media (max-width: 860px){
    .intro{
        
        
    }
    .intro__inner{
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
    }
    .intro>.wrapper{
        padding: 0;
    }
    .intro__img{
        width: 100%;
        height: 80dvh;
        

        background-size: cover;
        background-repeat: no-repeat;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);

        animation: slide-bottom .7s ease-out .10s;
    }
    .intro__text{
        z-index: 2000;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 100%;
        height: 100%;

        margin-top: -8em;
        margin-right: 1.5em;
        transform: translateX(-1.5em);
    }
    .intro__title{
        position: static;
        width: 215px;
        font-size: 60px;
        letter-spacing: normal;
        margin: 0;
        
        text-shadow: var(--text-shadow-mobile);
        text-align: right;
        
        
    }
    .intro__subtitle{
        position: static;
        font-size: 20px;
        margin: 0;
        margin-bottom: 0.25em;
        text-shadow: var(--text-shadow-mobile);
    
    }
}


.tattoo{
    margin-top: 2em;

    max-height: 900px;
}

.tattoo__inner{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tattoo__text{
    width: 30%;
    display: flex;
    flex-direction: column;
    
}

.tattoo__title{
    

    font-size: 128px;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    
}



.tattoo__subtitle{
    margin-top: 85px;
    
    font-family: var(--secondary-font);
    font-size: 40px;
    text-shadow: var(--text-shadow-small);
}

.instagram{
    width: 50%;
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 15em) ;
    grid-template-rows: repeat(2, 15em);
    gap: 10px;



    margin-top: 0;

    filter: drop-shadow(var(--text-shadow));

}
.instagram__photo{
    
    background-size: cover;
    background-position: center;
}

.shadow-mask{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 14000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
    transition: all .3s;
}

.instagram__photo__big{
    position: fixed;
    z-index: 15000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    height: 70%;
    width: 90%;
    background-color: #15191E;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

@media (max-width: 860px){
    .tattoo{
        margin-top: 4em;
        

    }
    .tattoo__inner{
        flex-direction: column;
        align-items: center;
    }
    .tattoo__text{
        width: 100%;
       
    }
    .tattoo__title{
        margin-top: 0;
        font-size: 50px;
        text-shadow: var(--text-shadow-mobile);
    }
    .tattoo__subtitle{
        margin-top: 0.25em;
        font-size: 20px;
        text-shadow: var(--text-shadow-mobile);
    }
    .instagram{
        width: 100%;
        max-height: 100%;
        margin-top: 2em;
        grid-template-columns: repeat(2, 1fr) ;
        grid-template-rows: repeat(2, 1fr);
        gap: 0.25em;

        background: url(/assets/images/logo-transparent_11zon.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;   
    }
    .instagram__photo{
        height: 10em;
        background-size: cover;
        background-position: center;
    }
   
}

/*-------------FAQ-------------*/

.faq{
   
}

.faq__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.faq__title{
    margin-top: 125px;
    font-size: 100px;

    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    letter-spacing: -2px;
}

.faq__info{
    width: 100%;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
}

.faq__info__option{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.option__select{
    background: none;
    border: none;
    color:  white;
    cursor: pointer;

    font-family: var(--secondary-font);
    font-size: 48px;
    text-shadow: var(--text-shadow-small);
    width: 100%;
    border-top: 5px solid white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option__select__btn{
    width: 50px;
    height: 50px;
    font-size: 48px;
}

.plus-minus{
    position: relative;
    width: 50px;
    height: 50px;
}
.hor, .vert{
    position: absolute;
    left: 0%;
    top: 50%;
    width: 50px;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}
.vert{
    display: block;
    transform: rotate(90deg);
}
.vert_off{
    display: none;
}

.option__text{
    padding: 15px;
    display: none;
    margin-top: 10px;
    max-width: 90%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 15px;

    font-family: 'Inter', serif;
    letter-spacing: 1px;
    font-size: 36px;
}

.option__text_open{
    display: block;
}


@media (max-width: 860px) {
    .faq{
        margin-top: 3em;

    }
    .faq>.wrapper{
        padding: 0;
    }
    .faq__inner{
        margin: 0;
    }
    .faq__title{
        margin: 0;

        font-size: 35px;
        text-align: center;
        letter-spacing: 0;
    }
    .faq__info{
        margin-top: 1em;

        align-items: center;
    }

    .faq__info__option{
        margin: 0;
        width: 90%;
    }
    .option__select{
        border-top: 3px solid white;
        font-size: 30px;
        height: 40px;
        margin: 0;
        padding: 0;
    }

    .option__text{
        margin: 0;
        font-size:1em;
        letter-spacing: 0.1px;
        line-height: 1.2em;
    }

    .plus-minus{
        transform: translateY(-5px);
        height: 25px;
        width: 25px;
    }
    .hor{
        width: 25px;
        
    }
    .vert{
        width: 25px;
        
    }
}
/*------APPOINTMENT---------*/

footer{
   margin-top:80px;
   margin-bottom: 15px;
}


.appointment{
   
}

.appointment__inner{
    margin-top: 20px;

    display: flex;
    align-items: center;
}

.appointment__title{
    width: 60%;
    font-size: 125px;

    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    letter-spacing: -2px;
}

.appointment-btn_big{
    transform: none;

    margin: 0 auto;
    width: 5em;
    height: 0.5em;
   
    padding: 4% 0;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;

    font-size: 5em;
}
.copyright{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.copyright>img{
    height: 25px;
}

.copyright__text{
    font-size: 20px;
}

.cat{
    height: 25px;
}

.privacy{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 1em;
}

@media (max-width: 860px){
    footer{
        margin-top: 3em;
    }
    .appointment__inner{
        justify-content: space-between;
        

    }
    .appointment__title{
        display: none;
    }
    .appointment-btn_big{
        font-size: 60px;
        padding: 5px 0;
        width: 70%;
        height: 25%;
        background: white;
    }

    .copyright{
        margin-top: 2em;
        
    }
    .copyright>img{
        height: 15px;
    }
    .copyright__text{
        font-size: 10px;
    }
    .cat{
        height: 0.9em;
        margin-right: 0.1em;
    }


    .privacy{
        letter-spacing: normal;
        font-size: 0.7em;
        margin-right: auto;
    }
}

/*-------appointment------*/


.contact{
    transition: margin-left .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    
    margin-left: 1000vw;
    position: fixed;
    top: 0; 
    left: 0;

    width: 100dvw;
    height: 100dvh;
    background-color: #15191E;
    z-index: 100000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.contact_open{
    transition: margin-left .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-left: 0;
    display: flex;
}

.contact__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.appointment__title_modal{
    position: relative;
    text-align: center;
    font-size: 5em;
}


.close-btn{
    padding: 0.1em;
    position: absolute;
    width: 0.2em;
    right: 0.5em;
    top: -0.5em;

    cursor: pointer;
}

.contact-form{
    
    margin-top: 2em;

    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    
}


.name-email{
    display: flex;
    justify-content: space-between;
}


.name-email__block{
    width: 45%;
}

label{
    color: #dbd7d7;
}

input{
    background: none;
    border: none;
    border-bottom: 0.2em solid white;
    border-radius: .2em;
    color: white;
    font-family: 'Inter', serif;
    max-width: 12em ;
}

.description{
    margin-top: 2em;
}

textarea{
    background: none;

    border: none;
    border-bottom: 0.2em solid white;
    border-radius: .2em;

    color: white;
    font-family: 'Inter', serif;

    margin-top: 1em;
    resize: vertical;
    min-height: 4em;
    max-height: 20em;
    width: 20em;
}


.upload{
    margin-top: 2em;
    align-self: center;
}

.upload__btn{
    cursor: pointer;

    margin-top: 1em;
    padding: 1em;

    width: 5em;
    align-self: center;

    border: 0.2em dashed white;







    border-radius: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload__btn>svg{
    height: 4em;
}
.upload__btn>p{
    font-size: 0.5em;
}



.checkbox{
    margin-top: 2em;
}

input[type='checkbox'] {
    accent-color: #a0a0a0;
    width: 1.2em;
    height: 1.2em;
}

.file{
   display: none;
}
#submit{
    margin: 0.7em auto;
    margin-bottom: 0;
    height: 1.3em;
    width: 4em;
}


@media (max-width: 860px){
    .appointment__title_modal{
        display: inline;
        font-size: 3em;
        width: 7em;
        letter-spacing: 0;
    }
    .close-btn{
        width: 0.4em;
        right: -0.3em;
    }
    .contact>.wrapper {
        margin: 0;
    }
    .agree-check{
        font-size: 0.7em;
    }
    .contact-input{
       
    }
}